*
{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}

body
{
    background-color: hsl(217, 54%, 11%);
    padding: 20px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main
{
    background-color: hsl(216, 50%, 16%);
    padding: 30px;
    width: 35%;
    display: grid;
    grid-template-rows: 310px 200px 50px 50px;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.span-ETH
{
    color: hsl(178, 100%, 50%);
}

h2 span
{
    font-weight: 400;
}

h2, p, .span-clock
{
    font-weight: 300;
}

.main__div-image-container
{
    position: relative;
}

.main__div-image-container img
{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;

    width: 100%;
    height: 100%;
}

.div__user-avatar
{
    border-top: 1px solid hsla(0, 0%, 100%, 0.527);
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.div__user-avatar img
{
    width: 35px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid hsl(0, 0%, 100%);
}

.div__user-avatar h2
{
    padding-left: 15px;
}

.div__ETH-clock-container
{
    display: flex;
    justify-content: space-between;
}

.div__title-p-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer
{
    margin-top: 30px;
}

h1
{
    margin: 0;
}

.div__hover-icon
{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;

    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

    background-color: hsla(178, 100%, 50%, 0.295);
}

.main__div-image-container:hover > .div__hover-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

h1:hover, .span__creator-name:hover
{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

@media only screen and (max-width: 900px)
{
    main
    {
        width: 50%;
    }
}

@media only screen and (max-width: 600px)
{
    main
    {
        width: 80%;
    }
}

@media only screen and (max-width: 350px)
{
    main
    {
        width: 95%;
    }
}